<%= form_for(@tweet) do |f| %>


  <div class="field">
    <%= f.label :content, class: "control-label" %><br>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :user_id , class: "control-label" %><br>
    <%= f.number_field :user_id, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password , class: "control-label" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirm , class: "control-label" %><br>
    <%= f.password_field :password_confirm, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "登録",class: "btn-large btn-primary" %>
  </div>
<% end %>